*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: rgb(120, 120, 120);
    position: relative;
}

.header_nav{
    background-color: rgb(32, 32, 32);
}

.container{
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

.container_width{
    width: 90%;
}

/* header css */
.nav_top{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 2px solid rgb(189, 126, 0);
}

.nav_top img{
    mix-blend-mode:screen;
    width: 65px;
    height: 60px;
}

.nav_top i{
    color: rgb(204, 204, 204);
}

.nav_top a{
    margin-top: auto;
    margin-left: 40px;
    text-decoration-line: none;
    color: rgb(204, 204, 204);
    font-size: 20px;
}
.nav_top button{
    margin-top: 15px;
    color: rgb(204, 204, 204);
    font-size: 20px;
}

.nav_top .right{
    flex-grow: 8;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: center;
}

.right p{
    color: rgb(204, 204, 204);
    font-size: 12px;
    text-align: center;
    align-self: center;
    margin: 4px;
    cursor: default;
}

.search_box{
    background-color: rgb(78, 78, 78);
    padding: 4px;
    display: flex;
    margin: auto 0;
    height: 35px;
    align-self: center;
    text-align: center;
    max-width: 100%;
}

.search_box input{
    display: flex;
    flex-wrap: wrap;
    border: none;
    outline: none;
    background-color: rgb(78, 78, 78);
    color: rgb(204, 204, 204);
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    max-width: 100%;
}

.search_box span{
    color: rgb(204, 204, 204);
    background-color: rgb(78, 78, 78);
    font-size: 16px;
    height: 100%;
    padding: 4px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    border-left: 1px solid rgb(105, 105, 105);
}

.right a{
    margin: 20px;
}

.icon a{
    color: #fff;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}
  
/* Dropdown button on hover & focus */
.dropbtn:hover{
  /* background-color: #2980B9; */
  background-color: rgb(189, 126, 0);
}

.dropbtn:focus {
  /* background-color: #2980B9; */
  background-color: rgb(189, 126, 0);
  border-radius: 10px 10px 0 0;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f1f1f1; */
  background-color: rgb(189, 126, 0);
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform: translateX(-40%);
}
  
/* Links inside the dropdown */
.dropdown-content a {
  /* color: black; */
  color: #fff;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    /* background-color: #ddd; */
    background-color: rgb(241, 161, 0);
    border-radius: 10px;
}
  
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 

/* navbar css */
nav{
    display: flex;
    justify-content:flex-start;
    width: 90%;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    padding: 5px;
}

nav ul li{
    list-style-type: none;
    padding: 1em;
}

nav ul li a{
    text-decoration-line: none;
    font-size: 19px;
    color: rgb(204, 204, 204);
    cursor: pointer;
    transition: all 0.3s ease;
}

nav ul a:hover{
    color: rgb(36, 77, 243);
}

/* index.php main part 1 css */
.home_main{
    min-height: 100vh;
}

.container_img{
    background-image: url("../img/julian-hochgesang-3-y9vq8uoxk-unsplash.jpg");
    image-rendering: optimizeQuality;
    image-rendering: optimizeSpeed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 95vh;
}

.box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 95vh;
}

.txt_box{
    display: flex;
    flex-direction: column;
    background-color: rgba(76, 76, 76, 0.438);
    border-radius: 10px;
    color: rgb(198, 198, 198);
    padding: 15px;
}

.txt_box h1{
    background-color: rgba(76, 76, 76, 0.734);
    border-radius: 10px 10px 0 0;
    font-size: 70px;
}

.txt_box p{
    background-color: rgba(76, 76, 76, 0.734);
    border-radius: 0 0 10px 10px;
    font-size: 20px;
    padding: 2px;
}

.txt_box a{
    width: fit-content;
    background-color: rgb(0, 100, 180);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration-line: none;
    font-size: 18px;
    padding: 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.txt_box a:hover{
    background-color: rgb(0, 60, 180);
}

/* index.php main part 2 css */
.product{
    position: relative;
    overflow: hidden;
    padding: 20px;

    border-bottom: 1px solid rgba(128, 128, 128, 0.61);
}

.product_category{
    padding: 0 5vw;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
}

.product_container{
    padding: 0 7vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product_container::-webkit-scrollbar{
    display: none;
}

.card{
    flex: 0 0 auto;
    width: 320px;
    margin: 10px;
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
}

.image_content,
.card_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image_content{
    position: relative;
    row-gap: 5px;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.card_image{
    position: relative;
    height: 220px;
    width: 100%;
}

.card_img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.name{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.description{
    padding: 10px;
    font-size: 18px;
    color: rgb(71, 71, 71);
    text-align: center;
}

.btn{
    font-size: 16px;
    color: rgb(255, 255, 255);
    align-content: center;
    padding: 8px 16px;
    margin: 14px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-info{
    background-color: rgb(0, 60, 180);
    border-radius: 5px;
}

.btn-info:hover{
    background-color: rgb(0, 100, 180);
}

.pre_btn,
.nxt_btn{
    border: none;
    width: 2.7vw;
    height: 9%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #fff;
    cursor: pointer;
    z-index: 9;
    border-radius: 60px;
}

.pre_btn{
    left: 0;
    margin-top: 230px;
    margin-left: 20px;
}

.nxt_btn{
    right: 0;
    margin-top: 230px;
    margin-right: 20px;
}

/* index.php main part 3 css */
.main_product_category {
    padding: 2vw 5vw;
    font-size: 40px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 40px;
}

.main_product_container {
    display: grid;
    height: 100vh;
    grid-template-columns: .5fr 2.5fr;
}

.main_product_container > .main_product_section {
    height: 100%;
}

.main_product_choise {
    padding: 0 1vw;
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 5px;
}

/* Het label aanpassen (de container) */
.container_checkbox {
    margin: 1vw 1vw;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* De standaard browser checkbox verbergen */
.container_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Een eigen checkbox maken */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #dfdfdf;
}
  
/* Wanneer de actie mouse-over, wordt de background-color grijs */
.container_checkbox:hover input ~ .checkmark {
    background-color: #dfdfdf;
}
  
/* Wanneer de checkbox gechecked is, wordt de background-color blauw */
.container_checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
/* Maak het checkbox vinkje (deze is verborgen wanneer de box niet gechecked is) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Laat het vinkje zien wanneer de checkbox is gechecked */
.container_checkbox input:checked ~ .checkmark:after {
    display: block;
}
  
/* Maak het vinkje en de box mooi */
.container_checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #dfdfdf;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 

.main_product_nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    padding: 5px;
}

.main_product_nav ul li{
    list-style-type: none;
    padding: .5em;
}

.main_product_nav ul li a{
    text-decoration-line: none;
    font-size: 19px;
    color: rgb(61, 61, 61);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 5px;
}

.main_product_nav ul li a i {
    padding: 5px;
    font-size: 16px;
}

.main_product_nav ul a:hover{
    color: rgb(0, 140, 175);
}

/* index.php main part 3 product kaarten */
.mains_product_container{
    position: relative;
    padding: 0 1vw;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-left: 1px solid rgba(128, 128, 128, 0.541);
}

.mains_product_container::-webkit-scrollbar{
    display: none;
}

.mains_container_name {
    width: 100%;
    margin: 0 1vw;
    border-bottom: 1px solid rgba(128, 128, 128, 0.541);
}

.mains_cards_name {
    padding: 1.5vw 0;
    font-weight: bold;
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.mains_card{
    position: relative;
    flex: 0 0 auto;
    contain:content;
    max-width: 300px;
    max-height:400px;
    margin: 20px;
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
}

.mains_image_content,
.mains_card_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mains_image_content{
    position: relative;
    row-gap: 5px;
}

.mains_overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.mains_card_image{
    position: relative;
    height: 220px;
    width: 100%;
}

.mains_card_img{
    height: 100%;
    width: 100%;
    object-fit:scale-down;
}

.mains_name{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.mains_description{
    padding: 10px;
    font-size: 18px;
    color: rgb(71, 71, 71);
    text-align: center;
}

.mains_button_card{
    border: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    background-color: rgb(0, 60, 180);
    font-size: 14px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.mains_button_card:hover{
    background-color: rgb(0, 100, 180);
}

/* productinfo.php css */
.singleProduct{
    position: relative;
    padding: 20px;

    border-bottom: 1px solid rgba(128, 128, 128, 0.61);
}

.singleProduct_category{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
}

.singleCard{
    max-width: 100%;
    height: auto;
    margin: 10px;
    background-color: rgb(207, 207, 207);
}

.singleImage_content,
.singleCard_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singleImage_content{
    position: relative;
    row-gap: 5px;

}

.singleOverlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.singleCardimage{
    position: relative;
    height: 100%;
    width: 100%;
}

.singleCard_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.singleCard_content{
    display: grid;
    grid-auto-rows: 150px;
    grid-gap: 10px;
}

.singleName{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.singleDescription_Left{
    padding: 5px;
    font-size: 18px;
    color: rgb(71, 71, 71);
    text-align: center;

}

.grid_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2; 
    
}

.singleDescription_Right{
    padding: 10px;
    font-size: 18px;
    color: rgb(71, 71, 71);
    text-align: center;

}

.grid_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 1 / 2 / 2 / 3; 
}

.btn{
    font-size: 16px;
    color: rgb(255, 255, 255);
    align-content: center;
    padding: 8px 16px;
    margin: 14px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-info{
    background-color: rgb(0, 60, 180);
    border-radius: 5px;
}

.btn-info:hover{
    background-color: rgb(0, 100, 180);
}

.form_align{
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0px;
}

form{
    width: 700px;
    border: 2px solid #ccc;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
}

.form_head{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.form_group label{
    color:#888;
    font-size: 18px;
    padding: 10px;
}

.form_group input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.form_group input:hover{
    border-color: rgb(0, 60, 180);
}

.form_group_radio label{
    color:#888;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form_group_radio label:hover{
    color: rgb(0, 60, 180);
}

.form_group_radio input{
    width: 2rem;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button_submit{
    float: right;
    background-color: rgb(0, 60, 180);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button_submit:hover{
    background-color: rgb(0, 100, 180);
}

.form_content_switch{
    font-size: 18px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color:#555;
    transition: all 0.3s ease;
}

.form_content_switch:hover{
    text-decoration: underline;
    color: rgb(0, 60, 180);
}

.error{
    background: rgb(243, 140, 140);
    color: rgb(90, 18, 18);
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
.success{
    background: rgb(98, 211, 143);
    color: rgb(0, 82, 20);
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

/* gebruikers.php */
.container_scroll{
    display: flex;
    flex-direction: column;
    align-items: center;   
    min-width: 1in;
    height: 8in;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 5px;
    margin: 20px 0;
    background-color: #88888891;
    border-radius: 10px;
}

.container_scroll table{
    background-color: #88888885;
    border: #ffae00 solid 3px;
    border-radius: 10px;
    width: 100%;
    border-spacing: 0 1em;
}

.container_scroll table td{
    /* border: #ffae00 5px solid;
    border-radius: 10px; */
    justify-content: space-between ;
    text-align: center;
    border-bottom: #555 solid 2px;
    padding-bottom: 5px;
}

.container_scroll table td input{
    padding: 2px;
    margin: 5px;
}

.btn-danger{
    background-color: red;
    border-radius: 10px;
}

.btn-warning{
    background-color: orange;
    border-radius: 10px;
}

/* footer.php css */
footer{
    align-content: bottom;
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    height: 60px;
}